body {
  background: #333;
  color: #FFF;
  font-family: Inconsolata;
  text-align: center;
}

h1 {
  display: wrap;
  font-family: Lobster;
  font-size: 7em;
  margin: 50px 0;
  text-align: center;
}

.circle {
  border: 2px solid #40C947;
  border-color: #40C947;
  border-radius: 50%;
  cursor: pointer;
  font-size: 4em;
  height: 300px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 300px;
  z-index: 20;
}

.circle h2 {
  padding: 30px 20px;
}

.circledsdfs {
  border: 2px solid #40c947;
  border-radius: 50%;
  display: inline-block;
  margin: 20px auto;
}

.counter {
  cursor: pointer;
  margin: 0 10px;
}

.noselect {
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.timer {
  display: inline-block;
  margin: 0 30px;
}

.timer h4,
.circle p {
  font-size: 1.6em;
}

.timer p {
  font-size: 2em;
}

#signature {
  color: #FFF;
  font-size: 1em;
  text-align: center;
  text-transform: none;
}